* {
	font-family: Segoe UI, Ubuntu;
}

.badge {
	margin-left: .5em;
}

.btn-copy {
	margin-left: .5em;
	padding: .1em .3em;	
}

.btn-delete {
	margin-left: .5em;
	padding: .1em .3em;	
}

.code {
	font-family: Monaco, monospace;
}

.xxx {
	border: 1px solid black;
}

.container {
	max-width: 1540px;
}

.eliminar-big {
	padding: 0.25em 0.5em;
}

.btn-crear-alumno-y-profesor {
	margin-bottom: 2em;
}

.center {
	text-align: center;
}

.border-top-width {
	border-top-width: 1px !important;
}