* {
	font-family: Inter, sans-serif;
}

.badge {
	margin-left: .5em;
}

.btn-copy {
	margin-left: .5em;
	padding: .1em .3em;	
}

.btn-delete {
	margin-left: .5em;
	padding: .1em .3em;	
}

.code {
	font-family: 'Fira Code', monospace;
}

.navbar-grande {
	font-size: large;
}

.code-shadow {
	background: #bebebe;
	padding: 0.05em 0.2em;
	border-radius: 0.5rem;
}

.container {
	max-width: 1540px;
}

.eliminar-big {
	padding: 0.25em 0.5em;
}

.margin-bottom-2 {
	margin-bottom: 2em;
}

.margin-bottom-1 {
	margin-bottom: 1em;
}

.center {
	text-align: center;
}

.border-top-width {
	border-top-width: 1px !important;
}

input[type=radio]{
  transform:scale(1.3);
}

.loading {
	text-align: center;
	margin-top: 10%;
}